/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html{
  box-sizing: border-box;
}
*,*::before, *::after{
  box-sizing: inherit;
}
*{
  margin: 0;
  padding:0;
  border: 0;
  font-size: 100% ;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
}
body{
 font-family: 'Lato';
 font-style: normal;
 font-size: 16px;
 line-height: 1.2;
 font-weight: 400;
 color: #000000;
}
.conteiner {
  max-width: 80% ;
  margin:0 auto;
  padding: 0 55px;
  border: 1px solid #e81717;
}

/* header style start*/
.header{
position: fixed;
top: 0;
width: 100%;
border: 1px solid #39ce1b
}

.header-nav {
  padding-top:20px;
  display: flex; 
  flex-wrap: wrap;
  border: 1px solid #2241bd;

}
.header-list{
  display: flex; 
  flex-wrap: wrap;
  flex-grow: 1;
}
  .header-item{
    margin:0 auto;
    
  }
  .header-link{
    font-weight: 300;
    color: #a0920f
  }




  


}


/* header style end*/
